@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Design system styles */

:root {
  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}

body {
  background-color: var(--white);
  background-image: url('../assets/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-position: top -96vw left 0;
  background-size: 200vw auto;
  font-family: 'IBM Plex Sans', 'sans-serif';
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--black);
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
}

header {
  padding: clamp(2.5rem, 2.07vw + 2.02rem, 3.875rem)
    clamp(1.5rem, 4.07vw + 0.55rem, 2.5rem) 0
    clamp(1.5rem, 4.07vw + 0.55rem, 2.5rem);
  width: 100%;
}

main {
  width: 100%;
  padding-top: clamp(4rem, 7.89vw + 2.15rem, 5.9375rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-section {
  width: clamp(20.4375rem, 49.11vw + 8.93rem, 32.5rem);
  margin-left: clamp(1.5rem, 4.07vw + 0.55rem, 2.5rem);
}

.page-heading {
  font-size: clamp(2.5rem, 6.11vw + 1.07rem, 4rem);
  font-weight: 700;
  line-height: clamp(3rem, 4.07vw + 2.05rem, 4rem);
  letter-spacing: calc(-1 * clamp(0.0284rem, 0.07vw + 0.01rem, 0.0455rem));
}

.description-paragraph {
  margin-top: clamp(1.25rem, 2.04vw + 0.77rem, 1.75rem);
  font-size: clamp(1rem, 0.51vw + 0.88rem, 1.125rem);
  line-height: clamp(1.625rem, 0.51vw + 1.51rem, 1.75rem);
}

.download-section {
  background-image: url('../assets/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-position: left clamp(3rem, 46.06vw + -7.79rem, 14.3125rem) top
    calc(-1 * clamp(0.0063rem, 7.89vw + -1.85rem, 1.9375rem));
  align-self: center;
  position: relative;
  margin-top: clamp(10.375rem, 21.12vw + 5.43rem, 15.5625rem);
  width: clamp(375px, 81.68vw + 4.29rem, 696px);
  height: 37.5rem;
  background-color: var(--black);
  border-radius: 0.75rem;
}

.app-illustration {
  position: absolute;
  top: calc(-1 * clamp(6.125rem, 10.18vw + 3.74rem, 8.625rem));
  left: clamp(4rem, -4.07vw + 5.95rem, 5rem);
  width: clamp(13.125rem, 15.27vw + 9.55rem, 16.875rem);
}

.download-card {
  position: absolute;
  top: clamp(9.375rem, -58.52vw + 37.47rem, 23.75rem);
  right: clamp(0.0063rem, 14.73vw + -3.45rem, 3.625rem);
  width: clamp(23.4375rem, 6.11vw + 22.01rem, 24.9375rem);
  background-color: var(--orange);
  padding: 3rem clamp(2.25rem, 3.05vw + 1.53rem, 3rem);
  color: var(--white);
  border-radius: 0.75rem;
}

.card-heading {
  font-size: 2rem;
  line-height: 2.5rem;
}

.card-paragraph {
  margin-top: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.price-per-month {
  margin-top: 2.25rem;
  font-weight: 700;
  font-size: 4.0625rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
}

.price-per-month span {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  margin-left: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.8125rem;
  border: none;
  border-radius: 0.75rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.0112rem;
  cursor: pointer;
}

.ios-download-button {
  background-color: var(--black);
  color: var(--white);
  margin-top: 2rem;
  transition: background-color 0.2s;
}

.ios-download-button:hover {
  background-color: var(--cyan);
}

button img {
  width: 1.0625rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.android-download-button {
  background-color: var(--white);
  color: var(--black);
  margin-top: 16px;
  transition: background-color 0.2s;
}

.android-download-button:hover {
  background-color: var(--yellow);
}

footer {
  width: 100%;
  padding: clamp(11.4375rem, -52.67vw + 36.72rem, 24.375rem)
    clamp(1.5rem, 4.07vw + 0.55rem, 2.5rem) 6.25rem
    clamp(1.5rem, 4.07vw + 0.55rem, 2.5rem);
}

.footer-logo {
  margin-bottom: 2rem;
  width: 9.125rem;
  height: 2rem;
}

.attribution-and-links {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.attribution {
  font-size: 1rem;
  line-height: 1.625rem;
  width: clamp(20.4375rem, 3.66vw + 19.58rem, 22.875rem);
}

.attribution a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.icons-container {
  display: flex;
  gap: 1.25rem;
  list-style-type: none;
}

.icons-container svg:hover {
  transition: color 0.2s;
  filter: invert(76%) sepia(52%) saturate(5941%) hue-rotate(327deg)
    brightness(102%) contrast(96%);
}
