@media (min-width: 48rem) {
  body {
    background-image: url('../assets/bg-pattern-1.svg'),
      url('../assets/bg-main-tablet.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top calc(-1 * clamp(2rem, 1.19vw + 1.43rem, 2.5rem))
        right calc(-1 * clamp(0.1px, -5.36vw + 4.82rem, 2.25rem)),
      top -312px right calc(50% + 100px);
    background-size: clamp(16.6875rem, 6.7vw + 13.47rem, 19.5rem) auto, auto;
  }

  header {
    padding-left: clamp(2.5rem, 18.6vw + -6.43rem, 10.3125rem);
  }

  main {
    padding: clamp(5.9375rem, 4.76vw + 3.65rem, 7.9375rem)
      clamp(2.5rem, 18.6vw + -6.43rem, 10.3125rem) 0
      clamp(2.5rem, 18.6vw + -6.43rem, 10.3125rem);
  }

  .description-section {
    width: clamp(32.5rem, 73.66vw + -2.86rem, 63.4375rem);
    margin-left: 0;
  }

  .page-heading {
    font-size: clamp(4rem, 3.57vw + 2.29rem, 5.5rem);
    line-height: clamp(4rem, 3.57vw + 2.29rem, 5.5rem);
    letter-spacing: calc(-1 * clamp(0.0455rem, 0.04vw + 0.03rem, 0.0455rem));
  }

  .description-paragraph {
    margin-top: clamp(1.75rem, 1.79vw + 0.89rem, 2.5rem);
    font-size: clamp(1.125rem, 0.3vw + 0.98rem, 1.25rem);
    line-height: clamp(1.75rem, 0.89vw + 1.32rem, 2.125rem);
    max-width: 51.5625rem;
  }

  .download-section {
    margin-top: clamp(15.5625rem, 10.71vw + 10.42rem, 20.0625rem);
    width: 100%;
    background-position: left clamp(14.3125rem, 15.92vw + 6.67rem, 21rem) top
      calc(-1 * clamp(0.0063rem, 7.89vw + -1.85rem, 1.9375rem));
  }

  .app-illustration {
    top: calc(-1 * clamp(8.625rem, 11.16vw + 3.27rem, 13.3125rem));
    left: clamp(4rem, 8.33vw, 7.5rem);
    width: clamp(16.875rem, 6.25vw + 13.88rem, 19.5rem);
  }

  .download-card {
    top: clamp(5.625rem, -8.93vw + 13.66rem, 9.375rem);
    right: clamp(3.625rem, 5.51vw + 0.98rem, 5.9375rem);
    width: clamp(24.9375rem, 6.99vw + 21.58rem, 27.875rem);
    padding: clamp(3rem, 1.49vw + 2.29rem, 3.625rem)
      clamp(3rem, 1.19vw + 2.43rem, 3.5rem) 3rem
      clamp(3rem, 1.19vw + 2.43rem, 3.5rem);
  }

  .card-heading {
    font-size: clamp(2rem, 1.19vw + 1.43rem, 2.5rem);
    line-height: clamp(2.5rem, 1.79vw + 1.64rem, 3.25rem);
  }

  .card-paragraph {
    margin-top: clamp(0.75rem, 1.49vw + 0.04rem, 1.375rem);
    font-size: clamp(1.125rem, 0.3vw + 0.98rem, 1.25rem);
    line-height: clamp(1.75rem, 0.89vw + 1.32rem, 2.125rem);
  }

  .price-per-month {
    margin-top: clamp(2.25rem, 0.6vw + 1.96rem, 2.5rem);
  }

  .ios-download-button {
    margin-top: clamp(2rem, 2.08vw + 1rem, 2.875rem);
  }

  footer {
    padding: clamp(11.4375rem, 2.83vw + 10.08rem, 12.625rem)
      clamp(2.5rem, 18.6vw + -6.43rem, 10.3125rem) 6.25rem
      clamp(2.5rem, 18.6vw + -6.43rem, 10.3125rem);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-logo {
    margin-right: 8.625rem;
  }

  .attribution-and-links {
    margin-top: 0;
    flex-wrap: nowrap;
    gap: auto;
    flex: 2;
  }

  .attribution {
    width: clamp(20.4375rem, 3.66vw + 19.58rem, 22.875rem);
  }

  .icons-container {
    display: flex;
    gap: 1.25rem;
  }
}
